Repository InsiteSoftware/commerce-csharp-sdk, pull requests merged in 2023-06, with the labels that each got.

#122 ISC-20677 - commerce-csharp-sdk - enable treat warnings as errors and fix them in appropriate way
  CommerceApiSDK.DemoApp/CommerceApiSDK.DemoApp.csproj
  CommerceApiSDK.Test/API/Services/Attributes/SortOrderAttributeTests.cs
  CommerceApiSDK.Test/API/Services/ServiceTestBase.cs
  CommerceApiSDK.Test/API/Services/WebsiteServiceTests.cs
  CommerceApiSDK.Test/CommerceApiSDK.Test.csproj
  CommerceApiSDK.sln
  CommerceApiSDK/CommerceApiSDK.csproj
  CommerceApiSDK/Models/BillTo.cs
  CommerceApiSDK/Models/ContentManagement/WidgetConverter.cs
  CommerceApiSDK/Models/ContentManagement/Widgets/ActionsWidget.cs
  CommerceApiSDK/Models/ShipTo.cs
  CommerceApiSDK/Services/Messages/AdminSignedOutOptiMessage.cs
  CommerceApiSDK/Services/VmiLocationsService.cs
Labels: test, demo, repo

#123 ICM-3748 removing blobcache dependency
  CommerceApiSDK.DemoApp/CommerceApiSDK.DemoApp.csproj
  CommerceApiSDK.DemoApp/Controllers/LogoutController.cs
  CommerceApiSDK.DemoApp/Services/CacheService.cs
  CommerceApiSDK.DemoApp/Startup.cs
  CommerceApiSDK/Extensions/ServiceCollectionExtensions.cs
  CommerceApiSDK/Services/CacheService.cs
  CommerceApiSDK/Services/Interfaces/ICacheService.cs
  CommerceApiSDK/Services/ServiceBase.cs
Labels: demo

#124 Package updates, csproj cleanup
  CommerceApiSDK.DemoApp/CommerceApiSDK.DemoApp.csproj
  CommerceApiSDK.Test/CommerceApiSDK.Test.csproj
  CommerceApiSDK/CommerceAPIConstants.cs
  CommerceApiSDK/CommerceApiSDK.csproj
Labels: test, demo
